/* SETUP */

* {
    margin: 0;
    padding: 0;
    font-family: Fredoka, sans-serif;
}

:root {
    font-size: 1px;
    --pink: #F5DDDD;
}

body {
    font-size: 20rem;
}

/* GENERAL STYLES */

body > div {
    max-width: 750rem;
    margin: 20px auto;
    padding-left: 30rem;
    padding-right: 30rem;
}

div p.title {
    color: black;
    font-size: 40rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    border: none;
    transition: filter 0.1s linear;
}
    
button:hover {
    filter: brightness(1.05);
    cursor: pointer;
}

/* SCROLLBAR */

*::-webkit-scrollbar {
    position: absolute;
    width: 8px;
}
 
*::-webkit-scrollbar-track {
    background-color: transparent;
}
 
*::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

/* NAV */

nav {
    display: grid;
    grid-template-columns: max-content auto repeat(2, max-content);
    gap: 25rem;
    background-color: #FBF1F1;
    border-radius: 10rem;
    padding: 10rem 20rem;
    font-size: 22rem;
    max-width: 800rem;
    margin: 20rem auto;
}

nav a {
    color: black;
    transition: color 0.1s linear;
}

nav a.logo {
    font-weight: bold;
}

nav a:hover {
    color: rgb(80, 80, 80)
}

/* HERO */

.hero {
    padding: 50rem 10rem;
    position: relative;
}

.hero p.title {
    max-width: unset;
}

.hero p {
    color: #3A4454;
    margin: 20rem 5rem;
    font-size: 22rem;
    max-width: 440rem;
    width: max-content;
}

.hero .buttons {
    display: grid;
    gap: 15rem;
    margin-top: 20rem;
    grid-template-columns: repeat(2, max-content);
}

.buttons button {
    background-color: var(--pink);
    border-radius: 8rem;
    font-size: 22rem;
    padding: 6rem 14rem;
}

/* BUBBLES */

@keyframes float {
    0% {
        transform: translate(0%, 20%);
    }

    100% {
        transform: translate(0%, -20%);
    }
}

.bubbles {
    position: absolute;
    top: 50rem;
    right: 10rem;
    height: 100%;
    width: 300rem;
    z-index: 1;
}

.bubbles div {
    background: linear-gradient(315.43deg, #F3CFCF 16%, #F9EFEF 82.5%);
    transition: filter 0.3s ease-in-out, scale 0.1s linear;
    border-radius: 50%;
    position: absolute;
}

.bubbles div:hover {
    filter: saturate(150%) brightness(1.02);
}

.bubbles div:active {
    scale: 1.1;
}

#bubble-1 {
    width: 120rem;
    height: 120rem;
    top: 10%;
    right: 80rem;
    animation: 6s infinite ease-in-out alternate float;
}

#bubble-2 {
    width: 80rem;
    height: 80rem;
    top: 40%;
    right: 190rem;
    animation-delay: 0.5s;
    animation: 5s infinite ease-in-out alternate float;
}

#bubble-3 {
    width: 60rem;
    height: 60rem;
    top: 60%;
    right: 130rem;
    animation-delay: 1s;
    animation: 5.5s infinite ease-in-out alternate float;
}

/* INFO CARDS */

.info {
    margin: 60rem 0;
    padding: 0;
    position: relative;
    max-width: unset;
}

.info .svg-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: max(300rem, 35vw);
    max-height: 350rem;
    background: url(images/Fat\ squiggle.svg);
    background-size: 100% 100%;
    z-index: -1;
}

.info-body {
    max-width: 750rem;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 30rem;
    padding-top: 150rem;
    margin-bottom: 100rem;
}

.info-body .card {
    border-radius: 8rem;
    box-shadow: 0 0 15rem 5rem #F5DDDD;
    padding: 15rem;
    background-color: #fff;
    display: grid;
    font-size: 22rem;
    gap: 15rem;
    list-style-position: inside;
    align-items: start;
    align-content: start;
}

.info-body .card *   {
    padding-left: 5rem;
}

.info-body .card .label {
    color: #3A4454;
    font-size: 20rem;
    padding-left: 0;
}

.info-body .card {
    box-shadow: 0 0 10rem 2rem #F5DDDD;
}

.info-body .card .card {
    font-size: 20rem;
    gap: 5rem;
    text-align: center;
    padding: 10rem;
    cursor: pointer;
}

.info-body .desc-card {
    grid-area: d;
}

.info-body .resources p.label{
    grid-area: label;
}

.info-body .desc-card p.desc {
    font-size: 18rem;
    color: #3A4454;
}

.info-body .card.resources {
    display: grid;
    grid-template-areas:
        "label label"
        "c1 d"
        "c2 d"
        "c3 d"
        "c4 d";
    grid-template-columns: 2fr 3fr;
}

/* About */

.about {
    display: grid;
    gap: 30rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30rem;
}

.cards .card {
    border-radius: 12rem;
    box-shadow: 0 0 15rem 5rem #F5DDDD;
    padding: 15rem;
    background-color: #fff;
    display: grid;
    grid-template-rows: min-content min-content auto;
    justify-items: center;
    text-align: center;
}

.cards .card .subtitle {
    font-size: 28rem;
    margin-bottom: 10rem;
}

.cards .card p {
    font-size: 20rem;
}

.cards .card img {
    width: 60%;
    margin: auto;
}

/* Who We Are */

.who-we-are {
    margin-top: 80rem;
    display: grid;
    gap: 30rem;
    grid-template-areas:
        'subtitle subtitle'
        'p img';
    grid-template-columns: 3fr 2fr;
}

.who-we-are .title {
    grid-area: subtitle;
}

.who-we-are p {
    font-size: 20rem;
}

.who-we-are img {
    width: 70%;
    margin: auto;
}

/* FOOTER */

footer {
    margin-top: 80rem;
    width: calc(100% - 40rem);
    padding: 20rem;
    background-color: #F9EFEF;
    padding-bottom: 35rem;
    position: relative;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    width: max-content;
    gap: 30rem;
    margin: auto;
}

.social {
    display: grid;
    grid-template-columns: 25rem auto;
    gap: 10rem;
}

.social img {
    width: 25rem;
}

.social p {
    font-size: 18rem;
    font-weight: 600;
    color: #53687E;
}

footer .copy,  footer .credit  {
    position: absolute;
    color: #F3CFCF;
    bottom: 5rem;
    font-size: 16rem;
    font-weight: 600;
    text-shadow: rgba(255,255,255,1) 0 0 5rem;
}

footer .copy {
    left: 50%;
    transform: translateX(-50%);
}

footer .credit {
    right: 10rem;
}